<footer>
  <div>
    <h2>راه‌های ارتباطی</h2>
    <div class="social">
      <a href="#instagram"
        ><img src="/images/instagram.svg" alt="instagram logo"
      /></a>
      <a href="#whatsapp"
        ><img src="/images/whatsapp.svg" alt="whatsapp logo"
      /></a>
      <a href="#telegram"
        ><img src="/images/telegram.svg" alt="telegram logo"
      /></a>
    </div>
  </div>
  <!-- <h2>آدرس کلینیک‌ها روی نقشه</h2> -->
  <div class="map-container">
    <div>
      <h2>کلینیک ستارخان</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3852.4175034683785!2d51.367969956762444!3d35.714311826947316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00c9fba86b59%3A0xa72eebeedb6c8a24!2sSattarkhan%20Doctors%20Building!5e0!3m2!1sen!2s!4v1748789679060!5m2!1sen!2s"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div>
      <h2>کلینیک چیتگر</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d680.7430661596723!2d51.23205677428243!3d35.74642970173313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1748789939453!5m2!1sen!2s"
        width="600"
        height="450"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

  <h4>صبا نوریانی 1404. تمامی حقوق محفوظ است</h4>
  <h5>
    طراحی و توسعه توسط
    <a
      href="https://t.me/DevoraLabs"
      style="color: #2e63c6da; text-decoration: none"
      target="_blank"
      >Devora</a
    >
  </h5>
</footer>
