<%- include("partials/header.ejs") %>

<section
  class="container"
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2vh;
  "
>
  <h2>ورود مدیر</h2>
  <form action="/super-admin-9462" method="POST" class="form">
    <input type="password" name="password" placeholder="رمز عبور" required />
    <button type="submit" style="width: 35vw">ورود</button>
  </form>
</section>
<%- include("partials/footer.ejs") %>
