<%- include("partials/header.ejs") %>

<section
  class="container"
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2vh;
  "
>
  <h1>افزودن پست جدید</h1>
  <form
    action="/new-post"
    method="post"
    class="form"
    enctype="multipart/form-data"
  >
    <input type="text" name="title" placeholder="عنوان پست" required />
    <label style="font-size: 1.2rem">آپلود عکس:</label>
    <input type="file" name="image" accept="image/*" required />
    <textarea
      name="summary"
      placeholder="خلاصه مطلب"
      maxlength="200"
      style="height: 200px"
      required
    ></textarea>
    <textarea id="editor" name="content" placeholder="متن کامل"></textarea>
    <button type="submit">ثبت مطلب</button>
  </form>
</section>

<%- include("partials/footer.ejs") %>
<script
  src="https://cdn.tiny.cloud/1/jyh7hwyj5rob6smkdrksc49veblb4xv6k5xwrzztftb0bq7e/tinymce/7/tinymce.min.js"
  referrerpolicy="origin"
></script>
<script>
  tinymce.init({
    selector: "#editor",
    directionality: "rtl",
    plugins: "lists link image code table",
    toolbar:
      "undo redo | blocks | bold italic underline | alignleft aligncenter alignright | bullist numlist | image | code",
    height: 400,
    content_style:
      "body { font-family:Vazirmatn,Arial,sans-serif; font-size:16px }",
    paste_data_images: true,
    automatic_uploads: true,
    relative_urls: false,
    images_upload_url: "/upload-image",

    image_dimensions: false, // hide width/height inputs
    image_class_list: [{ title: "Responsive", value: "img-default" }],

    // Optional: You can allow users to resize but start with default
    setup: (editor) => {
      editor.on("NodeChange", (e) => {
        if (e.element.nodeName === "IMG") {
          e.element.style.width = "500px";
          e.element.style.height = "auto";
        }
      });
    },
  });
</script>
